<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "#{Application.get_env(:somali_live_project, :event_nick_name)} - Ciente Eventos" %></title>


    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/a73c23d57b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+TC&family=Roboto&family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

        <%= csrf_meta_tag() %>

  </head>
  <body class="bg-white-event h-full overflow-x-hidden  leading-normal tracking-normal">


    <div class="h-full w-full pt-32 md:pt-24" style="font-family: 'Roboto', 'Bold';">
      <%= @inner_content %>
    </div>
    <footer class="bg-event-default py-1 fixed w-full bottom-0 border-t border-black shadow-lg z-10">
      <div class="container mb-1 mx-auto text-center text-gray-300 text-sm">
        <a href="http://www.softaliza.com.br/">
          Softaliza&copy; <%= DateTime.utc_now.year %>
        </a>
      </div>
    </footer>
  </body>
</html>
