<%= for post <- @posts do %>
<section class="row services">
  <article class="column">
    <div class="bg-image-history" style="background-image: url(<%= Routes.static_path(@conn, "/images/sobre.png") %>); width: 300px;"></div>
  </article>
  <article class="column">
    <h1><%= link post.title, to: Routes.post_path(@conn, :show, post) %></h1>
    <p><%= raw({:safe, post.body}) %></p>
  </article>
</section>
<% end %>
</table>
