<h1><%= gettext("Edit Offered Service") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.offered_service_path(@conn, :update, @offered_service)) %>

<span><%= link gettext("Back"), to: Routes.offered_service_path(@conn, :index) %></span>
