<h1><%= gettext("New Offered Service") %></h1>

<%= live_render @conn, BlackCatWeb.OfferedServiceFormLive, session: %{"action" => Routes.offered_service_path(@conn, :create), "csrf_token" => @csrf_token, "offered_service" => %BlackCat.OfferedServices.OfferedService{}} %>

<span><%= link gettext("Back"), to: Routes.offered_service_path(@conn, :index) %></span>
