<h1>New Offered service</h1>

<%= live_render @conn, BlackCatWeb.OfferedServiceFormLive, session: %{"action" => Routes.offered_service_path(@conn, :create), "csrf_token" => @csrf_token} %>

<span><%= link "Back", to: Routes.offered_service_path(@conn, :index) %></span>
