<h1>New Offered service</h1>

<%= live_render @conn, BlackCatWeb.OfferedServiceFormLive, session: %{"changeset" => @changeset, "action" => Routes.offered_service_path(@conn, :create)} %>

<span><%= link "Back", to: Routes.offered_service_path(@conn, :index) %></span>
